

/* =============================================================
   Author's Jorge custom styles
   ============================================================= */

.galeria-container{
	background: rgba(0,0,0,1);
	padding: 50px;
	display: none;
}

ul li{
	cursor: pointer;
}

ul li:hover{
	opacity: 0.8;
}

.tache{
	color : white;
	font-size: 30px;
	cursor: pointer;
	position: relative;
    top: -45px;
    left: -45px;
}














